<div id="<%= dom_id feature %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Project:</strong>
    <%= feature.project_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= feature.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= feature.title %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this feature", [feature.project, feature], class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this feature', edit_project_feature_path(feature.project, feature), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
