<!DOCTYPE html>
<html>
  <head>
    <title>DevJournal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
     <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
     <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
     <script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="container mx-auto px-5 flex pt-8">
      <% unless devise_controller? %>
        <% if current_user %>
          <%= button_to 'Sign out', destroy_user_session_path, method: :delete, form_class: 'ml-auto' %>
        <% else %>
          <%= link_to 'Sign in', new_user_session_path, class: 'ml-auto' %>
        <% end %>
      <% end %>
    </nav>
    <main class="container mx-auto mt-24 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
